<!DOCTYPE html>
<html>

<head>
    <title></title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <div ng-app="MyApp">
        <div ng-controller="MyCtrl">
            <md-content class="md-padding">
                <md-tabs class="" md-selected="selectedTab" md-align-tabs="top" md-border-bottom md-autoselect md-dynamic-height>

                    <md-tab ng-repeat="status in statuses">
                        <md-tab-label>
                            {{status.name}}
                            <md-tooltip md-direction="bottom">
                                {{status.description}}
                            </md-tooltip>
                        </md-tab-label>

                        <md-tab-body>
                            aaaaaaaaaaaaaaaaaaaaaa
                        </md-tab-body>
                    </md-tab>

                </md-tabs>
            </md-content>
        </div>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- My Angular script -->
    <script src="javascripts/angularMaterial.js"></script>
    </div>

</body>

</html>