<ul class="nav nav-tabs ">
    <li class="active">
        <a href="#tab_default_1" data-toggle="tab">Visualization </a>
    </li>
    <li>
        <a href="#tab_default_2" data-toggle="tab">Data schema </a>
    </li>
    <li>
        <a href="#tab_default_3" data-toggle="tab">Sources </a>
    </li>
</ul>